<header><img class="name" src="assets/image/name.jpg" alt="Bobs Burger">
    <button id="us" type="submit">
        <p class="add">Para Ingles</p>
        <img class="us" src="/assets/image/en.png" alt="us flag">
    </button>
</header>

<div class="container">
    <div class="eat">
        <h2>Quero comer!</h2>

        <ul>
            {{#each burgers}} {{#unless devoured}} {{> burgers/burgersBR-block devoured=true}}
            {{/unless}} {{/each}}
        </ul>
    </div>


    <div class="addBurger">
        <h2 class="addB">Adicione um Sanduiche</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="ca">Nome do Sanduiche:</label>
                <input type="text" id="ca" name="burger_name" />
            </div>

            <div class="form-group">

                <input type="radio" name="devoured" value="1" checked /> Ja comi!<br />
                <input type="radio" name="devoured" value="0" /> Quero comer!
            </div>

            <button class="btn" type="submit">
                <p>Novo</p>
                <img class="addburgericon" src="/assets/image/icon.png" alt="Burger" />
            </button>
        </form>
    </div>


    <div class="devoured">
        <h2>Ja comi!</h2>

        <ul>
            {{#each burgers}} {{#if devoured}} {{> burgers/burgersBR-block devoured=false}} {{/if}}
            {{/each}}
        </ul>
    </div>
</div>


<div class=footer>
    <h5>
        <i class="far fa-copyright"></i> Cha Alexander
        <a href="https://github.com/chaalexander " target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/cha-alexander" target="_blank"><i class="fab fa-linkedin"></i></a>
    </h5>