<header><img class="name" src="assets/image/name.jpg" alt="Bobs Burger"></header>

<div class="container">
  <div class="eat">
    <h2>Burgers to eat!</h2>

    <ul>
      {{#each burgers}} {{#unless devoured}} {{> burgers/burgers-block devoured=true}}
      {{/unless}} {{/each}}
    </ul>
  </div>


  <div class="addBurger">
    <h2 class="addB">Add a burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name" />
      </div>

      <div class="form-group">

        <input type="radio" name="devoured" value="1" checked /> Devoured!<br />
        <input type="radio" name="devoured" value="0" /> Eat!
      </div>

      <button class="btn" type="submit">
        <p class="add">ADD</p>
        <p class="add">NEW</p>
        <img class="icon" src="/assets/image/icon.png" alt="Burger" />
      </button>
    </form>
  </div>


  <div class="devoured">
    <h2>Burgers devoured!</h2>

    <ul>
      {{#each burgers}} {{#if devoured}} {{> burgers/burgers-block devoured=false}} {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="flag">
  <img id="br" src="/assets/image/pt.png" alt="brazilian flag" type="submit">


</div>
<div class=footer>
  <h5>
    <i class="far fa-copyright"></i> Cha Alexander
    <a href="https://github.com/chaalexander " target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/cha-alexander" target="_blank"><i class="fab fa-linkedin"></i></a>
  </h5>