body,
html {
  height: 100%;
  margin: 0px;
  background-image: url("/assets/image/test.jpeg");
  background-position: center;
  background-repeat: round;
  background-size: cover;
}
.name {
  margin-top: 20px;
  width: 40rem;
}
.btn {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 7rem !important;
  width: 6rem;
  border-radius: 40px;
}
.icon {
  height: 2.5rem;
  width: 3rem;
}
.add {
  font-weight: bolder;
  font-size: 0.7rem;
}

header {
  text-align: center;
}
.container {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: solid 4px black;
}
.eat,
.devoured {
  border: solid 4px black;
  text-align: center;
  background-color: gold;
  border-radius: 40px;
}

.addBurger {
  text-align: center;
  border: solid 4px black;
  background-color: gold;
  border-radius: 70px;
  width: 300px;
}
.burger {
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
}

li,
.form-group {
  font-size: 20px;
  margin: 12px;
}

h2 {
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;
  margin-top: 30px;
}

h5 {
  margin: 10px;
}
/* media queries for about */
@media screen and (max-width: 989px) {
  body,
  html {
    background-image: url("/assets/image/background.png");
    height: 100%;
    margin: 0px;
    background-position: center;
    background-repeat: inherit;
    background-size: auto;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: solid 4px black;
  }
  .addBurger {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .form-group {
    font-size: 35px !important;
  }
}
