body {
  background-image: url("/assets/image/background.png");
}
.name {
  margin-top: 20px;
  width: 40rem;
}
.btn {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 7rem !important;
  width: 6rem;
  border-radius: 40px;
}
.icon {
  height: 2.5rem;
  width: 3rem;
}
.add {
  font-weight: bolder;
  font-size: 0.7rem;
}

header {
  text-align: center;
}
.container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 4px black;
}
.eat,
.devoured {
  border: solid 4px black;
  text-align: center;
  background-color: gold;
  border-radius: 40px;
}
.addBurger {
  text-align: center;
  border: solid 4px black;
  min-width: 325px;
  background-color: gold;
  border-radius: 70px;
}

li,
.form-group {
  font-size: 20px;
  margin: 12px;
}

h2 {
  font-size: 30px;
}
